/* Comentário */
/* Sintaxe: do css Elemento {propriedade: valor; PROPRIEDADE valor */
    h1{
        color: darkgreen;
        text-align: center;
        font-size: 60px;    
        font-family:'Miltonian Tattoo', cursive;
    }

    /* Seletor de id */
    #Paragrafo1{
        color: darkgreen;
        font-family:Arial, Helvetica, sans-serif;}
    
    #paragrafo2{
        font-weight:300;
        font-style: italic;
        font-size: 20px;
        background-color: cadetblue;
}

.grupo1{
    font-size: 20px;
}
div {
    width: 15%;
    margin: 0 auto;
 
}
body{
    width: 100%;
}
.grupo2{
    color: crimson;
}